<html>

<head>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">




        <div class="container">

            <legend>知网近三年论文简单查询</legend>

            <div class="form-group">
                <label for="">输入你想要查询的内容</label>
                <input type="text" class="form-control" id="" placeholder="李娜写过哪些论文" v-model="text">
            </div>
            <button class="btn btn-primary" @click="get()">查询</button>

            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>查询结果</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="lis in list">
                        <td class="col-lg-4">Q:< lis.qu></td>
                        <td>A:< lis.ans></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({

            el: '#app',
            delimiters: ["<", ">"], // 可自定义符号
            data: {
                text: "",
                url: "",
                list: [],
            },
            methods: {
                get: function () {
                    this.$http.get('/search/s/?search=' + this.text).then(function (res) {
                        if (res.body.length != 0)
                            this.list.push({ qu: this.text, ans: res.body });
                        else
                            this.list.push({ qu: this.text, ans: "我不到啊" });

                    }, function () {
                        console.log('请求失败处理');
                    });
                }
            },
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
        integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>